{% extends 'rant.html' %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ static('rantcounter/rant.js') }}"></script>
{% endblock %}

{% block displayed %}
<h1>Rant counters "{{ obj.title }}"</h1>
<div class="rant_contents">
{{ obj.render(False)|safe }}
</div>
{% if form %}
<p>Add a topic:</p>
<form method="post" action="{{ form_target }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" value="Save">
</form>
{% endif %}

{% endblock %}
