{% extends 'base.html' %}

{% block title %}RANT!!!{% if obj %} {{ obj.title }} ({{ obj.created|localize }}){% endif %}{% endblock %}

{%- block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ static('rantcounter/style.css') }}">
    {{ super() }}
{%- endblock %}

{% block body %}
    {% block displayed %}
<h3>Add a new rant counting:</h3>
<form method="post" action="{{ form_target }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" value="Save">
</form>
    {% endblock %}
    {% block other_rants %}
        {% for prev in others %}
            {% if loop.first %}
<div class="other_rants">
    <h3>Previous rant countings:</h3>
            {% endif %}
    <p><a href="{{ prev.get_absolute_url() }}">{{ prev.title }} (created {{ prev.created|localize }})</a></p>
            {% if loop.last %}
</div>
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endblock %}
