{% if not view_only %}
<div class="rant_entry">
    <form method="POST" action="{{ entry.get_absolute_url() }}" class="rant_entry_form">
        <div class="rant_entry_content">
{% endif %}
            <p class="rant_entry_label">"{{ entry.label }}"</p>
            <p class="rant_entry_count"><span>{{ entry.count }}</span> times </p>
{% if not view_only %}
        </div>
        <input type="button" value="+" class="rant_entry_inc">
    </form>
</div>
{% endif %}
