html,
body {
  margin: 0;
  padding: 10px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

body.darkmode {
  background-color: #2a2a2a;
  color: #c3c3c3;
}

.breaker {
  display: block;
  float: left;
}

.summoner_header .breaker {
  margin-top: 15px;
}

.encounter_table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  vertical-align: middle;
}

.encounter_table th,
.encounter_table td {
  border-right: 1px dashed #8282822a;
}

.encounter_table td {
  line-height: 25px;
  border-top: 1px dashed #828282;
}

.encounter_table tr td:last-of-type,
.encounter_table tr th:last-of-type {
  border-right: 0;
}

.encounter_table tr td:last-of-type {
  text-align: right;
}

.encounter_table .encounter_th_name {
  font-size: 1.5em;
}

/*************************************
 *   LOSING encounter table colors   *
 *************************************/

.encounter_table td.encounter_td_loss {
  background-color: #fbc1c1;
}

body.darkmode .encounter_table td.encounter_td_loss {
  background-color: #7c2626;
}

.encounter_table tr:nth-child(2n) td.encounter_td_loss {
  background-color: #f57676;
}

body.darkmode .encounter_table tr:nth-child(2n) td.encounter_td_loss {
  background-color: #3a1b1b;
}

/*************************************
 *   WINNING encounter table colors  *
 *************************************/

.encounter_table td.encounter_td_win {
  background-color: #d9ffd9;
}

body.darkmode .encounter_table td.encounter_td_win {
  background-color: #1b3a1b;
}

.encounter_table tr:nth-child(2n) td.encounter_td_win {
  background-color: #69cf69;
}

body.darkmode .encounter_table tr:nth-child(2n) td.encounter_td_win {
  background-color: #101c10;
}

/*************************************
 *   General encounter table colors  *
 *************************************/

.encounter_table tr:nth-child(2n) td {
  background-color: #74747461;
}

body.darkmode .encounter_table tr:nth-child(2n) td {
  background-color: #20202061;
}

.encounter_table tr td:last-of-type .breaker {
  float: right;
}

#summoner_selection {
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #eaeaea;
  padding: 15px 15px 5px;
  width: 400px;
}

body.darkmode #summoner_selection {
  border: 1px solid #525252;
  background-color: #181818;
}

#summoner_selection table {
  text-align: left;
  padding: 0;
  width: 100%;
}

#summoner_selection table th {
  font-weight: normal;
  padding-bottom: 5px;
}

#summoner_selection table tr {
  font-weight: normal;
}

#summoner_selection ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  text-align: start;
}

.summoner p {
  font-size: 12px;
  padding: 4px 0 4px 15px;
}

.encounters_overview p {
  display: inline;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #828282;
}

.summoner .winrate_controls p,
input {
  display: inline;
}

.summoner input {
  font-family: Courier, "Courier New", sans-serif;
}

body.darkmode input,
body.darkmode select {
  background-color: #434343;
  color: #c3c3c3;
}

#summoner_selection table td input,
#summoner_selection table td select,
#summoner_selection table td ul {
  width: 100%;
}

#summoner_selection table td li input,
#summoner_selection table td input[type="checkbox"] {
  width: auto;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
  height: 30px;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #323232;
  color: #323232;
  letter-spacing: 1px;
  transition: all 0.15s ease;
  font-size: 12px;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  color: #fff;
  background: #323232;
  letter-spacing: 2px;
  box-shadow: 3px 3px 4px #626262;
}

input[type="submit"]:active,
input[type="button"]:active {
  letter-spacing: 4px;
}

body.darkmode input[type="submit"],
body.darkmode input[type="button"] {
  border: 2px solid #525252;
  color: #c2c2c2;
  background: #434343;
}

body.darkmode input[type="submit"]:hover,
body.darkmode input[type="button"]:hover {
  color: #434343;
  background: #c2c2c2;
  box-shadow: 3px 3px 4px #000;
}

#summoner_selection input[type="submit"] {
  margin-bottom: 0;
  margin-top: 5px;
}

#summoner_selection ul li {
  display: inline;
  padding: 0;
}

#summoner_selection input[type="submit"],
#summoner_selection input[type="button"] {
  width: 100%;
}

#roster_container {
  width: 100%;
}

.roster {
  width: 50%;
  display: inline-block;
  float: left;
}

.roster .roster_entry {
  padding-bottom: 5px;
}

#container_blue_team .roster_entry {
  padding-right: 5px;
}

#container_red_team .roster_entry {
  padding-left: 5px;
}

.summoner,
.summoner_match {
  display: block;
  border: 1px solid black;
  border-radius: 0 20px;
  padding: 10px;
  box-shadow: 3px 3px 5px #626262;
}

body.darkmode .summoner,
body.darkmode .summoner_match {
  border: 1px solid #525252;
  box-shadow: 3px 3px 5px #000;
}

.summoner h1,
.summoner_match h1 {
  font-size: 30px;
  display: inline;
  line-height: 50px;
}

.summoner h1 {
  padding-left: 20px;
}

.summoner_image {
  height: 50px;
}

.breaker_right .encounters_overview {
  float: right;
}

.encounters_overview p:nth-last-child(1) {
  padding-right: 0;
  border-right: 0;
}

.breaker .champion_you span,
.breaker .champion_them span {
  font-size: 10px;
  line-height: 10px;
}

.breaker .champion_you,
.breaker .champion_them {
  display: inline-block;
  float: right;
  line-height: 0;
}

.smallimage {
  display: block;
  height: 40px;
}

#xhr_last_response {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  text-align: left;
  display: none;
}

.summoner .previous_match {
  width: 100%;
  line-height: 25px;
  padding: 2px 0 2px 8px;
  border-top: 1px dashed #828282;
}

body.darkmode .summoner .previous_match {
  border-top: 1px dashed #828282;
}

#encounter_container .previous_match {
  display: block;
  border: 1px solid black;
  border-radius: 0 20px;
  padding: 10px;
  box-shadow: 3px 3px 5px #626262;
  margin-bottom: 5px;
}

body.darkmode #encounter_container .previous_match {
  box-shadow: 3px 3px 5px #000;
}

.encounter_part_wrapper {
  float: left;
}

.summoner_header .breaker_wrapper {
  border-top: 1px dashed #828282;
}

.summoner .pr_label,
.summoner_match .pr_label {
  font-weight: bold;
  text-align: right;
  margin-left: 5px;
  margin-right: 5px;
}

#container_blue_team .summoner,
#container_blue_team .summoner_match {
  background-color: #6cf;
}

#container_red_team .summoner,
#container_red_team .summoner_match {
  background-color: #f99;
}

#container_blue_team .summoner.me,
#container_red_team .summoner.me {
  background-color: #cfc;
}

body.darkmode #container_blue_team .summoner,
body.darkmode #container_blue_team .summoner_match {
  background-color: #235066;
}

body.darkmode #container_red_team .summoner,
body.darkmode #container_red_team .summoner_match {
  background-color: #744949;
}

body.darkmode #container_blue_team .summoner.me,
body.darkmode #container_red_team .summoner.me {
  background-color: #364836;
}

.pr_container {
  display: block;
  font-size: 1em;
}

.summoner .winrate_controls {
  display: inline;
  float: right;
  margin: 0;
  font-style: italic;
}

.encounter_link {
  float: right;
  font-size: 9px;
  margin-right: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
  font-style: italic;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #828282;
}

body.darkmode a:link,
body.darkmode a:visited,
body.darkmode a:hover,
body.darkmode a:active {
  color: #c3c3c3;
}

.xhr_data {
  display: none;
}

.previous_outcome {
  font-weight: bold;
}

.previous_outcome.previous_win {
  color: green;
}

body.darkmode .previous_outcome.previous_win {
  color: #67b567;
}

.previous_outcome.previous_loss {
  color: red;
}

body.darkmode .previous_outcome.previous_loss {
  color: #b73636;
}

.previous_outcome .pr_label {
  color: black;
}

body.darkmode .previous_outcome .pr_label {
  color: #c3c3c3;
}

.previous_outcome.team_red,
.previous_relation.team_red {
  color: #b10202;
}

body.darkmode .previous_outcome.team_red,
body.darkmode .previous_relation.team_red {
  color: #ff8383;
}

.previous_outcome.team_blue,
.previous_relation.team_blue {
  color: #009;
}

body.darkmode .previous_outcome.team_blue,
body.darkmode .previous_relation.team_blue {
  color: #8484ff;
}

.svg_xhr_spinner {
  float: right;
}

#xhr_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  display: none;
}

.displayed_match_data {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0;
}

.displayed_match_data .match_data_wrapper {
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid black;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 6px 6px 9px #626262;
}

body.darkmode .displayed_match_data .match_data_wrapper {
  background-color: #181818;
  border: 2px solid #525252;
  box-shadow: 6px 6px 9px #000;
}

.displayed_match_data .match_data_wrapper div {
  display: inline;
  padding: 20px;
  border-right: 1px dashed #828282;
  margin: 0;
  font-size: 20px;
}

.displayed_match_data .match_data_wrapper div:last-of-type {
  border-right: 0;
}

.displayed_match_data .match_data_wrapper span {
  font-weight: bold;
}

#id_footer {
  display: block;
  text-align: right;
  z-index: 6;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: -10px;
  background-color: #f1f1f1;
  padding: 3px;
  font-size: 0.7em;
}

body.darkmode #id_footer {
  background-color: #090909;
}

.xhr_form {
  display: none;
}

.sm_items {
  display: inline;
  margin-left: 7px;
}

.sm_items img {
  display: block;
  height: 35px;
  margin-bottom: 2px;
}

.sm_items img:last-of-type {
  margin-bottom: 0;
}

.clear_fix {
  clear: both;
}

#dejafed_menu {
  display: block;
  text-align: center;
}

#dejafed_menu .menu_wrapper {
  width: auto;
  display: inline-block;
}

#dejafed_menu .menu_wrapper .men_floater {
  display: inline;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 1px 1px;
}

#dejafed_menu .menu_wrapper .men_floater:first-child {
  border-radius: 20px 0 0;
}

#dejafed_menu .menu_wrapper .men_floater:nth-last-child(2) {
  border-width: 1px;
  border-radius: 0 0 20px;
}

body.darkmode #dejafed_menu .menu_wrapper .men_floater {
  border-color: #525252;
}

.men_link:link,
.men_link:visited,
.men_link:hover,
.men_link:active {
  font-style: normal;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.men_link:hover {
  letter-spacing: 1px;
}

body.darkmode .men_link:link,
body.darkmode .men_link:visited,
body.darkmode .men_link:hover,
body.darkmode .men_link:active {
  color: #c2c2c2;
}

#dejafed_menu .men_link {
  transition: all 0.15s ease;
  display: block;
  padding: 20px;
}

#dejafed_menu .men_floater.active {
  background-color: #3b99db;
}

body.darkmode #dejafed_menu .men_floater.active {
  background-color: #132c3e;
}

#id_footer .colorlink .set_color:hover {
  cursor: pointer;
  text-decoration: underline;
}

#id_footer .colorlink {
  padding-left: 20px;
  float: left;
}
