<form method="post" id="{{ form_id }}"
{%- if form_class %} class="{{ form_class }}"{% endif -%}
{%- if form_action %} action="{{ form_action }}"{% endif -%}>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{%- for id, value, name, class in additional_hidden %}
    <input type="hidden"
{%- if id %} id="{{ id }}"{% endif -%}
{%- if value %} value="{{ value }}"{% endif -%}
{%- if name %} name="{{ name }}"{% endif -%}
{%- if class %} class="{{ class }}"{% endif -%}>
{%- endfor %}
    <table>{{ form.as_table() }}</table>
{% block button %}
    <input type="button" value="Submit" onclick="performXhrPost();"{% if auto_post %} class="xhr_auto_submit"{% endif %}>
{% endblock %}
{% block datalists %}
    {% for entry in form.datalist_items() %}
    <datalist id="{{ entry }}"></datalist>
    {% endfor %}
{% endblock %}
{% block post_btn %}
    {% endblock %}
</form>