{% extends 'xhr/xhr_form.html' %}

{% block button %}
    <input type="submit" value="Submit">
{% endblock %}

{% block post_btn %}
{{ super() }}
{% if refresh_view %}
<p id="xhr_last_response">Last refresh: <span></span></p>
{% endif %}
{% endblock %}