<!DOCTYPE html>
<html>
<head>
{%- block favicon %}
    <link rel="shortcut icon" type="image/png" href="{{ static('dejafeddb/images/favicon.png') }}"/>
{%- endblock %}
{%- block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ static('dejafeddb/style.css') }}">
{%- endblock %}
{%- block scripts -%}
    {%- for script in extra_scripts %}
    <script type="text/javascript" src="{{ static(script) }}"></script>
    {%- endfor %}
    <script type="text/javascript" src="{{ static('dejafeddb/xhr_colormode.js') }}"></script>
{%- endblock %}
    <title>{% block title %}Dejafed - did that Summoner feed before?!{% endblock %}</title>
</head>
<body{% if not request.session.get('lightmode', False) %} class="darkmode"{% endif %}>
{% block directions %}
    <div id="dejafed_menu">
        <div class="menu_wrapper">
            <div class="men_floater{% if is_index %} active{% endif %}"><a href="{{ url('index') }}" class="men_link">Recent (or current) encounters</a></div>
            <div class="men_floater{% if is_encounters %} active{% endif %}"><a href="{{ url('encounters') }}" class="men_link">Encounters of two summoners</a></div>
            <div class="men_floater{% if is_rants %} active{% endif %}"><a href="{{ url('rant') }}" class="men_link">Rant counters</a></div>
            <div class="clear_fix"></div>
        </div>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
<div id="id_footer">
    <div class="colorlink">
        <input type="hidden" class="xhr_color_url" value="{{ url('set_colormode') }}">
        <input type="hidden" class="xhr_color_mode" value="{% if request.session.get('lightmode', False) %}darkmode{% else %}lightmode{% endif %}">
        <span class="set_color">Set <span class="color_label">{% if request.session.get('lightmode', False) %}dark{% else %}light{% endif %}</span> mode.</span>
    </div>
    &copy; Tristan Lucas {{ now().strftime('%Y') }}
</div>
{% endblock %}
</body>
</html>