{% extends 'base.html' %}

{% block stylesheets %}{{ super() }}<link rel="stylesheet" type="text/css" href="{{ static('dejafeddb/construction.css') }}">{% endblock %}
{% block title %}UNDER CONSTRUCTION{% endblock %}
{% block body %}
<h1>{{ TQDN }} is under construction!</h1>
<h2>But soon enough, you'll be able to...</h2>
<p>... determine, whether you met THAT summoner before. Please hang tight ;)</p>
{% endblock %}