<div>Mode: <span>{{ type }}</span></div>
<div>Start: <span id="id_span_current_timestamp">{% if timestamp %}{{ timestamp.astimezone()|localize }}{% else %}Unknown{% endif %}</span></div>
{% if pk %}
    <div>Match details:
        <a href="{{ url('match', args=(pk,)) }}" target="match_detail"><span>{{ pk }}</span></a>
    </div>
{% endif %}