{% for smatch in summonermatches %}
    {% if loop.first %}
<div class="breaker_right">
    <div class="encounters_overview">
        <p class="pr_label">From encounters listed below:</p>
        {% if games_enemies != summonermatches | length %}
        <p class="pr_label">Games as allies: {{ (summonermatches | length) - games_enemies }}</p>
        <p class="pr_label">Winrate as allies: {{ ((allied_wins / ((summonermatches | length) - games_enemies)) * 100) |  number_format }}% ({{ allied_wins }} wins.)</p>
        {% endif %}
        {% if games_enemies > 0 %}
        <p class="pr_label">Games as enemies: {{ games_enemies }}</p>
        <p class="pr_label">Winrate against {{ smatch.summoner.name }}: {{ (100 - (a_wins_enemies / games_enemies * 100)) |  number_format }}%</p>
        {% endif %}
        <p class="pr_label">Total encounters: {{ summonermatches | length }}</p>
    </div>
    <div class="clear_fix"></div>
</div>
<table class="encounter_table">
    <tr>
        <th colspan="2">General data:</th>
        <th>Build:</th>
        <th>Meta:</th>
    </tr>
    {% endif %}
    <tr>
        <td>
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container pr_label previous_when">When:</div>
                    <div class="pr_container pr_label previous_when">&nbsp;</div>
                    <div class="pr_container pr_label previous_outcome">Result:</div>
                </div>
                <div class="breaker">
                    <div class="pr_container previous_when">{{smatch.match.date|localize }}</div>
                    <div class="pr_container previous_when">({{ smatch.match.date|timesince(time_strings={'year':'%d Y', 'month':'%d M', 'day': '%d D', 'week': '%d W', 'hour': '%d h', 'minute':'%d m'}, depth=2) }} ago)</div>
                    <div class="pr_container previous_outcome {% if smatch.win %}{% if smatch.allied %}previous_win{% else %}previous_loss{% endif %}{% else %}{% if smatch.allied %}previous_loss{% else %}previous_win{% endif %}{% endif %}">
                    {% if smatch.win %}
                        {% if smatch.allied %}WIN{% else %}DEFEATED YOU{% endif %}
                    {% else %}
                        {% if smatch.allied %}LOSS{% else %}STOMPED BY YOU{% endif %}
                    {% endif %}</div>
                </div>
            </div>
        </td>
        <td>
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container pr_label previous_relation">As:</div>
                    <div class="pr_container pr_label previous_role">Role:</div>
                    <div class="pr_container pr_label previous_kda">KDA:</div>
                </div>
                <div class="breaker">
                    <div class="pr_container previous_relation">{% if smatch.allied %}Ally{% else %}Enemy{% endif %}</div>
                    <div class="pr_container previous_role">{{ smatch.role | summoner_role(mode=smatch.match.mode) }}</div>
                    <div class="pr_container previous_kda">{{ smatch.kills }} | {{ smatch.deaths }} | {{ smatch.assists }}</div>
                </div>
            </div>
        </td>
        <td>
            <div class="breaker_wrapper">
                {% for item_html in smatch.items() %}
                    {% if loop.index0 % 2 == 0 %}
                    <div class="sm_items breaker">
                    {% endif %}
                        {{ item_html|safe }}
                    {% if loop.index0 % 2 == 1 or loop.index0 == loop.length - 1 %}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="clear_fix"></div>
            </div>
        </td>
        <td>
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="champion_you">
                        <span>You:</span>
                        <img src="{{ smatch.own_champ.image_url() }}" class="smallimage our_champ" alt="{{ smatch.own_champ.name }}"/>
                    </div>
                    <div class="champion_them">
                        <span>Them:</span>
                        <img src="{{ smatch.champion.image_url() }}" class="smallimage their_champ" alt="{{ smatch.champion.name }}"/>
                    </div>
                    <div class="match_info">
                        <a class="encounter_link" href="{{ url('match', args=(smatch.match.id,)) }}" target="match_detail">{{ smatch.match.mode }}: {{ smatch.match.id }}</a>
                    </div>
                </div>
                <div class="clear_fix"></div>
            </div>
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
