{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ static('dejafeddb/script.js') }}"></script>
{% endblock %}

{% block title %}{{ super() }}{% if match_id %} - {{ match_id }}{% endif %}{% endblock %}

{% block body %}
{{ summoner_form.as_html()|safe }}
{% if error %}<h2>{{ error }}</h2>
{% else %}
    {% if match_data %}
<div class="displayed_match_data"><div class="match_data_wrapper">{{ match_data.render()|safe }}</div></div>
<div id="roster_container">
    <div class="roster" id="container_blue_team">
        {% for summoner in blue %}{{ summoner|safe }}{% endfor %}
    </div>
    <div class="roster" id="container_red_team">
        {% for summoner in red %}{{ summoner|safe }}{% endfor %}
    </div>
</div>
    {% endif %}
{% endif %}
{% endblock %}
