{% extends 'base.html' %}
{% block directions %}{% endblock %}

{% block body %}
<div class="match_container">
    <h1>Match: {{ match.id }}</h1>
    <div class="roster" id="container_blue_team">
        {% for smatch in match.summonermatch_set.team_a() %}
            {{ smatch.render()|safe }}
        {% endfor %}
    </div>
    <div class="roster" id="container_red_team">
        {% for smatch in match.summonermatch_set.team_b() %}
            {{ smatch.render()|safe }}
        {% endfor %}
    </div>
</div>
{% endblock %}