<div id="encounters_{{ summoner.id }}" class="roster_entry">
    {% if xhr_form %}
    <form method="post" action="{{ url('xhr_current_encounter') }}" id="encounters_{{ summoner.id }}_form" class="xhr_form">
        {{ xhr_form.as_p() }}
        <input type="hidden" value="{{ url('xhr_current_encounter') }}" class="xhr_url"/>
        <input type="hidden" value="{{ summoner.id }}_known_from_container" class="xhr_target"/>
        <input type="hidden" value="{{ summoner.id }}_control_container" class="xhr_control"/>
        <input type="hidden" value="{{ summoner.id }}_spinner" class="xhr_spinner"/>
    </form>
    {% endif %}
    <div class="summoner{% if summoner.is_active_viewed %} me{% endif %}">
        <div class="summoner_header">
            {% if summoner.champion %}
            <img src="{{ summoner.champion.image_url() }}" class="summoner_image" alt="{{ summoner.champion.name }}"/>
            {% elif sm %}
            <img src="{{ sm.champion.image_url() }}" class="summoner_image" alt="{{ sm.champion.name }}"/>
            {% endif %}
            {% if xhr_form %}
            <img src="{{ static('dejafeddb/images/spinner.svg') }}" id="{{ summoner.id }}_spinner" class="svg_xhr_spinner" alt="XHR work spinner">
            {% endif %}
            <div id="{{ summoner.id }}_control_container"  class="winrate_controls"{% if not pre_rendered %} style="display: none;"{% endif %}>
                <input id="{{ summoner.id }}_control" type="button" value="<<" onclick="collapse('{{ summoner.id }}')"/>
            </div>
            <h1><a href="{{ url('index', qdict={'puuid': summoner.puuid, 'name': summoner.name, 'limit_encounters': limit_encounters, 'match_select': match_select, 'auto_refresh': auto_refresh}) }}">{{ summoner }}</a></h1>
            {% with match_data = summoner.match_data or sm %}
                {% if match_data %}
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container previous_role"><span class="pr_label">Role: </span>{{ match_data.role }}</div>
                    <div class="pr_container previous_kda"><span class="pr_label">KDA: </span>{{match_data.kills }}|{{ match_data.deaths }}|{{ match_data.assists }}</div>
                    <div class="pr_container previous_outcome {% if match_data.win %}previous_win{% else %}previous_loss{% endif %}"><span class="pr_label">Result: </span>
                        {% if match_data.win %}WIN{% else %}LOSS{% endif %}</div>
                </div>
                <div class="breaker_wrapper">
                    {% for item_html in match_data.items() %}
                        {% if loop.index0 % 2 == 0 %}
                    <div class="sm_items breaker">
                        {% endif %}
                    {{ item_html|safe }}
                        {% if loop.index0 % 2 == 1 or loop.index0 == loop.length - 1 %}
                    </div>
                        {% endif %}
                    {% endfor %}
                    <div class="clear_fix"></div>
                </div>
            </div>
                {% endif %}
            {% endwith %}
        </div>
        <div id="{{ summoner.id }}_known_from_container" class="matches_container">{% if pre_rendered %}{{ pre_rendered|safe }}{% endif %}</div>
    </div>
</div>