{% if direct_link %}
<p class="pr_label"><a href="{{ direct_link }}">direct link</a></p>
{% endif %}
<div class="breaker_right">
    <div class="encounters_overview">
        <p class="pr_label">From encounters listed below:</p>
        {% if games_enemies != summonermatches | length %}
        <p class="pr_label">Games as allies: {{ (summonermatches | length) - games_enemies }}</p>
        <p class="pr_label">Winrate as allies: {{ ((allied_wins / ((summonermatches | length) - games_enemies)) * 100) | number_format }}% ({{ allied_wins }} wins.)</p>
        {% endif %}
        {% if games_enemies > 0 %}
        <p class="pr_label">Games as enemies: {{ games_enemies }}</p>
        <p class="pr_label">Winrate {{ summoner_b.name }} over {{ summoner_a.name }}: {{ (a_wins_enemies / games_enemies * 100) | number_format }}%</p>
        {% endif %}
        <p class="pr_label">Total encounters: {{ summonermatches|length }}</p>
    </div>
    <div class="clear_fix"></div>
</div>
{% for smatch in summonermatches %}
    {% set other_smatch = smatch.match.summonermatch_set.get(summoner=summoner_a) %}
    {% if loop.first %}
<table class="encounter_table">
    <tr>
        <th>&nbsp;</th>
        <th colspan="3" class="encounter_th_name">{{ summoner_a.name }}</th>
        <th colspan="3" class="encounter_th_name">{{ summoner_b.name }}</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th>Match info:</th>
        <th>General data:</th>
        <th>Champion:</th>
        <th>Build:</th>
        <th>General data:</th>
        <th>Champion:</th>
        <th>Build:</th>
        <th>Details:</th>
    </tr>
    {% endif %}
    <tr>
        <td>
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container pr_label previous_when">When:</div>
                    <div class="pr_container pr_label previous_when">&nbsp;</div>
                    <div class="pr_container pr_label previous_outcome">Winners:</div>
                </div>
                <div class="breaker">
                    <div class="pr_container previous_when">{{ smatch.match.date|localize }}</div>
                    <div class="pr_container previous_when">({{ smatch.match.date|timesince(time_strings={'year':'%d Y', 'month':'%d M', 'day': '%d D', 'week': '%d W', 'hour': '%d h', 'minute':'%d m'}, depth=2) }} ago)</div>
                    <div class="pr_container previous_outcome team_{{ smatch.team | team_color(other=not smatch.win) | lower }}">Team {{ smatch.team | team_color(other=not smatch.win) }}</div>
                </div>
            </div>
        </td>
        <td class="encounter_td_{% if other_smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container pr_label previous_relation">Team:</div>
                    <div class="pr_container pr_label previous_role">Role:</div>
                    <div class="pr_container pr_label previous_kda">KDA:</div>
                </div>
                <div class="breaker">
                    <div class="pr_container previous_relation team_{{ other_smatch.team | team_color | lower }}">{{ other_smatch.team | team_color }}</div>
                    <div class="pr_container previous_role">{{ other_smatch.role | summoner_role(mode=other_smatch.match.mode) }}</div>
                    <div class="pr_container previous_kda">{{ other_smatch.kills }} | {{ other_smatch.deaths }} | {{ other_smatch.assists }}</div>
                </div>
            </div>
        </td>
        <td class="encounter_td_{% if other_smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="champion_them">
                        <img src="{{ other_smatch.champion.image_url() }}" class="smallimage their_champ" alt="{{ other_smatch.champion.name }}"/>
                    </div>
                </div>
                <div class="clear_fix"></div>
            </div>
        </td>
        <td class="encounter_td_{% if other_smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                {% for item_html in other_smatch.items() %}
                    {% if loop.index0 % 2 == 0 %}
                    <div class="sm_items breaker">
                    {% endif %}
                        {{ item_html|safe }}
                    {% if loop.index0 % 2 == 1 or loop.index0 == loop.length - 1 %}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="clear_fix"></div>
            </div>
        </td>
        <td class="encounter_td_{% if smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="pr_container pr_label previous_relation">Team:</div>
                    <div class="pr_container pr_label previous_role">Role:</div>
                    <div class="pr_container pr_label previous_kda">KDA:</div>
                </div>
                <div class="breaker">
                    <div class="pr_container previous_relation team_{{ smatch.team | team_color | lower }}">{{ smatch.team | team_color }}</div>
                    <div class="pr_container previous_role">{{ smatch.role | summoner_role(mode=smatch.match.mode) }}</div>
                    <div class="pr_container previous_kda">{{ smatch.kills }} | {{ smatch.deaths }} | {{ smatch.assists }}</div>
                </div>
            </div>
        </td>
        <td class="encounter_td_{% if smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="champion_them">
                        <img src="{{ smatch.champion.image_url() }}" class="smallimage their_champ" alt="{{ smatch.champion.name }}"/>
                    </div>
                </div>
                <div class="clear_fix"></div>
            </div>
        </td>
        <td class="encounter_td_{% if smatch.win %}win{% else %}loss{% endif %}">
            <div class="breaker_wrapper">
                {% for item_html in smatch.items() %}
                    {% if loop.index0 % 2 == 0 %}
                    <div class="sm_items breaker">
                    {% endif %}
                        {{ item_html|safe }}
                    {% if loop.index0 % 2 == 1 or loop.index0 == loop.length - 1 %}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="clear_fix"></div>
            </div>
        </td>
        <td>
            <div class="breaker_wrapper">
                <div class="breaker">
                    <div class="match_info">
                        <a class="encounter_link" href="{{ url('match', args=(smatch.match.id,)) }}" target="match_detail">{{ smatch.match.mode }}: {{ smatch.match.id }}</a>
                    </div>
                </div>
                <div class="clear_fix"></div>
            </div>
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
