.rant_entry {
  display: block;
  margin: 5px;
  border-bottom: 1px dashed #8282822a;
}

.rant_entry:last-of-type {
  margin-bottom: 60px;
}

.rant_entry p {
  display: inline;
  margin: 5px;
}

.rant_entry .rant_entry_content {
  display: inline;
  margin: 5px;
}

.rant_entry input[type="button"] {
  display: inline;
  margin: 5px;
}

.rant_entry .rant_entry_count span {
  font-size: 1.4em;
  font-weight: bold;
}

h1 {
  border-radius: 0 20px;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 3px 3px 5px #626262;
}

.other_rants {
  margin-top: 10px;
  padding: 20px;
  border-radius: 0 20px;
  border: 1px solid white;
  box-shadow: 3px 3px 5px #626262;
}
